<strong> Вот, что мы хотим порекомендовать по вашему запросу: </strong>
<br>
<p> Найденное место: {{form_data['name']}} </p>
<p> Адрес: {{form_data['address']}} </p>
<p> Рейтинг: {{form_data['rating']}} </p>
<p> Количество отзывов: {{form_data['ratings_amount']}} </p>
<br>
<strong> Погода по указанному адресу через указанное количество часов: {{form_data['time']}} </strong>
<br>
<p> Температура: {{form_data['temp']}} </p>
<p> Ощущается как: {{form_data['feels']}} </p>
<p> Влажность: {{form_data['humidity']}} </p>
<p> Описание: {{form_data['description']}} </p>
<br>
<p> Places data provided by Google Maps </p>
<p> Weather forecast from OpenWeather </p>
